.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}


.App-link {
    color: #61dafb;
}

.page-content {
    margin-left: 260px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #282c34;
}


@media (max-width: 600px) {
    .page-content {
        margin-left: 0;
        width: 100%;
    }
}